body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
}

.applink {
    font-size: 16px;
}

a:link {
  color: aquamarine;
}

h3 {
  font-size: 21px;
  color: gray;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.copyright {
  text-align: right;
  color: gray;

}
